body {
  padding: 0;
}

.jumbotron {
  /* border: 1px solid red; */
  background-color: black;
  height: 100px;
  padding-top: 0%;
  color: white;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

h2 {
  padding-top: 0;
}

.input-group {
  width: 60%;
  margin-left: 20px;


}

.cityList {
  margin: 0;
}



button {
  background-color: lightgrey;

}

#btnList {
  margin-top: 30px;
  margin-right: 0;
  width: 100%;
  height: 40vh;
  margin-left: 10px;
  margin-bottom: 50px;

}

p {
  margin-left: 20px;
}

h3 {
  margin-left: 20px;
}


.row {
  margin: 0px;
  width: 100%;

  position: fixed;
}

#mainBorder {
  border: 1px solid lightgray;

}

.col-md-12 {
  padding: 0;
}

.col-md-3 {
  padding: 0;
}

.col-md-9 {
  padding: 0;
}



.curWeather {
  display: inline-block;
}

#highlight {
  border: purple;
}



.card {
  background-color: #007bff;
  height: 30vh;
}

.fa {
  /* background-color: dodgerblue; */
}

#searchBtn {
  background-color: #007bff;
  color: white;
}

#applyColor {
  background-color: #f8f9fa;
}

.col-12 {
  width: 100%;
}



#mainBorder {}

/* tr {
  border: 1px solid lightgrey;
} */